*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #fff;
  background: #272822;
}

:root {
  --system-fontfamily: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
