.root {
}

.table {
  font-size: 0.75rem;
  border-collapse: collapse;
  font-family: var(--system-fontfamily);
  margin-top: 18px;
}

.addressCell {
  line-height: 1.5;
  padding-left: 25px;
  padding-right: 13px;
}

.addressCell + .cell {
  padding-left: 1.5ch;
}

.cell {
  color: #a093c7;
  padding: 0 0.5ch;
}

.asciiCell {
  color: #6b7089;
  padding-left: 2.5ch;
}
