:root {
  --header-height: 33px;
  --footer-height: 70px;
}

.header {
  height: var(--header-height);
}

.main {
  isolation: isolate;
  position: relative;
  height: calc(100vh - var(--header-height) - var(--footer-height));
}

.resizer {
  background: #89b8c2;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.resizer:hover {
  opacity: 1;
  color: #fff;
  transition: all 0.3s ease;
}

.resizer:global(.horizontal) {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.resizer:global(.horizontal):hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.resizer:global(.vertical) {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.resizer:global(.vertical):hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.resizer:global(.disabled) {
  cursor: not-allowed;
}
.resizer:global(.disabled):hover {
  border-color: transparent;
}

.footer {
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #111319;
  padding: 24px 32px;
  height: var(--footer-height);
  font-size: 0.8rem;
}

.footer a:link,
.footer a:visited {
  color: #89b8c2;
}

.footer a:hover {
  opacity: 0.8;
}
