.root {
  border: 1px solid rgba(137, 184, 194, 0.2);
  border-width: 0 0 1px 0;
  display: flex;
}

.main {
  flex: auto;
}

.heading {
  display: inline-block;
  font-size: 1rem;
  line-height: 32px;
  margin-left: 14px;
  margin-right: 14px;
}

.subActions {
}

.buttonWrap {
  display: inline-block;
  position: relative;
}

.buttonWrap:hover,
.buttonWrap.open {
  background: #1e2132;
}

.textButton {
  background: none;
  color: currentColor;
  cursor: pointer;
  transition-property: opacity;
  transition: 0.1s ease-in-out;
  height: 32px;
  padding: 0 14px;
}

.textButton:active {
  opacity: 0.7;
}

.panel {
  z-index: 1;
  top: 26px;
  padding: 14px;
  position: absolute;
  background: #1e2132;
  min-width: 360px;
}

.panel.left {
  left: -40px;
}

.panel.right {
  right: 0;
}

.settingItem {
}

.settingItem > p {
  font-size: 12px;
}

.settingItem > label {
  cursor: pointer;
}

.settingItem > label > span {
  font-size: 14px;
  margin-left: 12px;
}

.settingItem + .settingItem {
  margin-top: 12px;
}

.exampleList {
}

.exampleItem {
  line-height: 1.5;
}
.exampleItem:not(:first-child) {
  margin-top: 8px;
}

.exampleItem > button {
  font-size: medium;
  cursor: pointer;
  background: none;
  color: #c6c8d1;
  font-family: inherit;
  font-weight: 14px;
  text-decoration: underline;
}

.exampleItem > button:hover {
  opacity: 0.8;
}
